images/*
no_heading_images/*
data/*
small_data_subset/*
small_data_subset
*.pyc
big_list_with_road_colorhists.csv
big_list_with_nearest10*
CELLS_8_Colorado_GU_STATEORTERRITORY/*
Shape/*
*.log
imageScraper.py
*coord*
